{%extends "base.html"%}
{%  block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/regpage.css' %}">
{% endblock %}
{% block start %}
  <body>
    <div class="container">
      <h1>User Update</h1>
      <h1>{{user_data.first_name}}</h1>

      
      {% comment %} <form method="post" action="{%url 'update_user' user_data.id %}">   
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Save</button>
        
      </form> {% endcomment %}
    </div>
  </body>
  {% endblock %}
</html>